@import "../../styles/variables.scss";

.root {
  height: 100%;
  width: 100%;
  background-color: $dark;
  color: $light;
  padding: 1rem 1.4rem;

  display: flex;
  justify-content: space-between;

  .brand {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }

  .actions {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;

    .profiles {
      padding: 0.5rem 0.7rem;
      border-radius: 0.2rem;
      background-color: $light;
      color: $dark;
      outline: none;
    }

    .settings {
      height: 100%;

      &:hover {
        cursor: pointer;
      }
    }
    
    .popover {
        background-color: $light;
        color: $dark;
        position: absolute;
        top: 100%;
        right: 0;

        font-size: 0.75rem;
        padding: 0.5rem 0.7rem;
        border-radius: 0.2rem;
        font-weight: 600;
        white-space: nowrap;

        &:hover {
          cursor: pointer;
          background-color: $grey;
        }
      }
  }
}
